{% extends 'base.html' %}


{% block content %}
    <h1>{{pageName}}</h1>
    {% for post in posts %}
  <article class="media content-section"> 
    <div class="media-body">
      <div class="article-metadata">
          {% if post.is_active %}
          <a href="#">Active</a>
          {% else %}
          <a href="#">On Moderation</a>
          {%endif%}
        <small class="text-muted ml-2">{{ post.date_posted|date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content|truncatechars:200|safe }}</p>
    </div>
</article>
    {% endfor %}
{% endblock content %}