{% extends 'base.html' %}


{% block content %}
        <article class="media content-section">
  <div class="media-body">
        <div class="article-metadata">
            <a  href="#">{{ object.author }}</a>
            <small class="text-muted ml-2">{{ object.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content|safe }}</p>
        {% if object.author == user %}
            <a class="btn btn-outline-primary" href="{% url 'post-update' object.id%}">Update</a>
                   <a class="btn btn-outline-danger" href="{% url 'post-delete' object.id  %}">Delete post</a>

      {% endif %}
  </div>
</article>
{% endblock content %}
