{% extends 'base.html' %}


{% block content %}
        <article class="media content-section">
  <div class="media-body">
        <div class="article-metadata">
            <a  href="#">{{ object.author }}</a>
            <small class="text-muted ml-2">{{ object.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content|safe }}</p>
        {% if object.author == user %}
            <a class="btn btn-outline-primary" href="{% url 'post-update' object.id%}">Update</a>
                   <a class="btn btn-outline-danger" href="{% url 'post-delete' object.id  %}">Delete post</a>

      {% endif %}
  </div>
</article>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
        <div class="col-6">
                <input type="text" class="form-control" name="content" / >
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary">Comment</button>
        </div>
        
        </div>
        
    </form>
    {% for comment in comments%}
        <div>
            <a><b>{{comment.author}}</b></a>
            <p style="font-size: 13px;">{{comment.content}}</p>
        </div>
    {%empty%}
    <p>No comments yet</p>
    {%endfor%}
{% endblock content %}
