

#main-nav{
  background: #ffffff;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  box-shadow: 3px 4px 8px 5px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}
.content-section .list-group-item{
  border-radius: 0px!important;
}
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.add-text{
  min-height: 400px!important;
  height: 100%;
}